@model Fluxy.ViewModels.User.UserMangementViewModel

@{
    var imgSrc = string.Empty;
    if (Model != null)
    {
        if (Model.DisplayPicture != null)
        {
            var base64 = Convert.ToBase64String(Model.DisplayPicture);
            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-3 text-xs-center">
            <img src="@imgSrc" data-src="holder.js/140x140" alt='Avatar' class="img-thumbnail img-thumbnail-custom img-circle m-x-auto img-fluid  img-responsive">
            @Html.ActionLink("Change Settings", "Edit", "Profile", routeValues: new { UserProfileId = Model.Id }, htmlAttributes: new { @type = "button", @class = "btn btn-secondary" })
        </div>
        <div class="col-md-9">
            <h5 class="text-center">Welcome @User.Identity.Name!</h5>
            <hr />
            <h6>Firstname</h6>
            <p>
                @Html.DisplayFor(i=>i.Firstname)
            </p>
            <h6>Lastname</h6>
            <p>
                @Html.DisplayFor(i => i.Lastname)
            </p>
            <h6>About</h6>
            <p>
               @Html.DisplayFor(i => i.About)
            </p>
            <h6>Hobbies</h6>
            <p>
                @Html.DisplayFor(i => i.Hobbies)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                <strong>Videos posted by you</strong>
            </div>
            <div class="row ">
                @for (int i = 0; i < 6; i++)
                {
                    <div class="col-md-4">
                        @Html.Partial("_VideoBox")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
