@model Fluxy.ViewModels.User.UserMangementViewModel
@using Microsoft.AspNet.Identity;

@{
    var IsProfileOwner = ViewBag.IsProfileOwner;
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-custom">
                @if (!string.IsNullOrEmpty(Model?.DisplayPictureString))
                {
                    <img src="data:image/png;base64,@Model.DisplayPictureString" data-src="holder.js/140x140" alt='Avatar' class="img-thumbnail-custom m-x-auto img-fluid img-responsive">
                }
                else
                {
                    <img src="//placehold.it/150" data-src="holder.js/140x140" class="img-thumbnail-custom m-x-auto img-fluid img-responsive" alt="avatar">
                }
                <div class="card-block">
                    <h4 class="card-title text-center">@User.Identity.Name</h4>
                </div>
                <div class="card-footer">
                    @{
                        if (Model?.TotalVideo > 0)
                        {
                            <small class="text-muted">Total Videos : @Model.TotalVideo</small>
                        }
                        else
                        {
                            <small class="text-muted">Total Videos : 0</small>
                        }
                    }

                </div>
            </div>
            <div class="card card-custom">
                <div class="card-block">
                    <strong>About</strong>
                    @{
                        if (!string.IsNullOrEmpty(Model?.About))
                        {
                            var about = Model.About.Split(',');
                            <p>
                                @foreach (var item in about)
                                {
                                    <span class="label-custom label-custom-about">@item</span>
                                }
                            </p>
                        }
                        else
                        {
                            <p>
                                <a class="card-text" href="@Url.Action("Edit","Profile")">Add about</a>
                            </p>
                        }
                    }
                    <hr />
                    <strong>Hobbies</strong>
                    @{
                        if (!string.IsNullOrEmpty(Model?.Hobbies))
                        {
                            var hobbies = Model.Hobbies.Split(',');
                            <p>
                                @foreach (var item in hobbies)
                                {
                                    <span class="label-custom label-custom-hobbies">@item</span>
                                }
                            </p>
                        }
                        else
                        {
                            <p>
                                <a class="card-text" href="@Url.Action("Edit","Profile")">Add Hobbies</a>
                            </p>
                        }
                    }
                    <hr />
                    <strong>Bio</strong>
                    @{
                        if (!string.IsNullOrEmpty(Model?.Bio))
                        {
                            <p class="card-text">@Model.Bio</p>
                        }
                        else
                        {
                            <p>
                                <a class="card-text" href="@Url.Action("Edit","Profile")">Add your Hobbies</a>
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @if (IsProfileOwner)
            {
                <div class="card card-custom">
                    <div class="card-block">
                        <h4 class="card-title">Hello buddy!</h4>
                        <p class="card-text">Prmote your video here.</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("PostVideos","Profile")" class="btn btn-primary float-right">Post Video</a>
                    </div>
                </div>
            }
            else
            {
                <div class="card card-custom">
                    <div class="card-block">
                        <h4 class="card-title">Hello there!</h4>
                        <p class="card-text">Thanks for visiting my profile. Hope you have a good day!</p>
                    </div>
                </div>
            }
            <div id="UserPostedVideos">
                @Html.Action("ProfileVideos", "Profile", routeValues: new { userId = Model?.ApplicationUser.Id })
            </div>
        </div>
        @if (IsProfileOwner)
        {
            <div class="col-md-3">
                <div class="card card-custom">
                    <div class="card-block">
                        <h4 class="card-title">Settings</h4>
                        <a href="@Url.Action("ChangePassword", "Manage")" class="btn btn-link">Change Password</a>
                        <a href="@Url.Action("Edit", "Profile")" class="btn btn-link">Settings</a>
                        <a href="@Url.Action("Newsletter", "Profile")" class="btn btn-link">Newsletter</a>
                        <a href="@Url.Action("Privacy", "Profile")" class="btn btn-link">Parental Control</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .label-custom {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }

    .label-custom-hobbies {
        background-color: #f39c12;
    }

    .label-custom-about {
        background-color: #00a65a;
    }

    .card-custom {
        border-top: 3px solid #563d7c;
        margin-top: 10px;
    }
</style>