@model Fluxy.ViewModels.User.UserMangementViewModel
@{
    ViewBag.Title = "Parental Settings";
    ViewBag.Description = "A free community for sharing youtube videos and content for all age group peoples| Parental Settings";
}
<div class="container">
    @using (Html.BeginForm("Privacy", "Profile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="form-horizontal">
            <h4>Parental Settings</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label class="form-check-label">
                    @Html.CheckBoxFor(model => model.CanISeeEPContent)
                    See 18+ Content
                </label>
            </div>
            @*<div class="form-check">
                <label class="form-check-label">
                    @Html.CheckBoxFor(model => model.IsMyDpPublic, new { htmlAttributes = new { @class = "form-control" } })
                    Is My Picture Public
                </label>
            </div>*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Cancel", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-link" })
                </div>
            </div>
        </div>
    }
</div>
