<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/AdminStyle.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <main class="main">
        @RenderBody()
    </main>
    <footer class="app-footer">
        <a href="http://coreui.io">CoreUI</a> © 2017 creativeLabs.
        <span class="float-right">
            Powered by <a href="http://coreui.io">CoreUI</a>
        </span>
    </footer>
</body>
</html>
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)