@model Fluxy.ViewModels.Video.ShowVideoViewModel
@{
    var videoUrl = Model.SelectedVideo.Url + Model?.SelectedVideo.VideoSettings?.FrameFilters;
    ViewBag.Title = Model.SelectedVideo.ShortName + " Video";
    ViewBag.Description = "A free community for sharing youtube videos and content for all age group peoples| " + Model.SelectedVideo.Title;
    var domainName = Fluxy.Core.Constants.Configurations.DomainName;
    var pageAddress = domainName + "Video/" + Model.SelectedVideo.Id + "/" + Model.SelectedVideo.Slug + "/";
    ViewBag.ImageUrl = $"~/Images/{Model.SelectedVideo.Slug}{".png"}";
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-info" role="alert">
                <strong>@Model.SelectedVideo.Title</strong>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                @if (Model.SelectedVideo.IsAllowFullScreen)
                {
                    <iframe class="embed-responsive-item" width="@Model.SelectedVideo.VideoSettings.FrameWidth" height="@Model.SelectedVideo.VideoSettings.FrameHeight"
                            src="@videoUrl" frameborder="0" allowfullscreen></iframe>
                }
                else
                {
                    <iframe class="embed-responsive-item" width="@Model.SelectedVideo.VideoSettings.FrameWidth" height="@Model.SelectedVideo.VideoSettings.FrameHeight"
                            src="@videoUrl" frameborder="0"></iframe>
                }
            </div>
            <div class="row">
                <div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Added by">
                    <a href="@Url.Action("Index","Profile",routeValues:new {userId=Model.SelectedVideo.UserId })" class="col-md-4" data-toggle="tooltip" data-placement="top" title="Added by">
                        <span>
                            <i class="fa fa-user" aria-hidden="true"></i> @Model.SelectedVideo.ApplicationUser.UserName
                        </span>
                    </a>
                </div>
                <div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Views Count">
                    <span><i class="fa fa-eye" aria-hidden="true"></i>@Model.SelectedVideo.ViewCount</span>
                </div>
                <div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Tags">
                    <span><i class="fa fa-tags" aria-hidden="true"></i>@Model.SelectedVideo.Tags</span>
                </div>
            </div>

            <div class="fb-like"
                 data-href="@pageAddress"
                 data-layout="standard"
                 data-action="like"
                 data-size="small"
                 data-show-faces="true"
                 data-share="true">
            </div>

            <div>
                <blockquote class="blockquote">
                    <p class="mb-0"><strong>Description</strong></p>
                    <small>
                        @Html.Raw(Model.SelectedVideo.Description)
                    </small>
                </blockquote>
            </div>
            <div class="fb-comments"
                 data-href="@pageAddress"
                 data-numposts="10">
            </div>
            <div class="alert alert-info" role="alert">
                <strong>You May Also Like</strong>
            </div>
            <div class="row ">
                @foreach (var item in Model.UserMayLike)
                {
                    <div class="col-md-6">
                        @Html.Partial("_VideoBox", item)
                    </div>
                }
            </div>
            <div class="alert alert-info" role="alert">
                <strong>Recent Videos</strong>
            </div>
            <div class="row">
                @foreach (var item in Model.RecentlyAdded)
                {
                    <div class="col-md-6">
                        @Html.Partial("_VideoBox", item)
                    </div>
                }
            </div>
        </div>

        <div class="col-md-4">
            <div class="fb-page" data-href="@Fluxy.Core.Constants.Configurations.FacebookUrl" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="@Fluxy.Core.Constants.Configurations.FacebookUrl" class="fb-xfbml-parse-ignore">
                    <a href="@Fluxy.Core.Constants.Configurations.FacebookUrl">Fluxy Pictures</a>
                </blockquote>
            </div>

            <div class="alert alert-info" role="alert">
                <strong>Most Viewed Videos</strong>
            </div>
            @foreach (var item in Model.PopularVideo)
            {
                @Html.Partial("_VideoBox", item)
            }
        </div>
    </div>
</div>