@model Fluxy.ViewModels.Menu.MainMenuViewModel
<h2>Delete MenuItem</h2>

@using (Html.BeginForm("delete", "Menu", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.Id)
    <div class="form-group">
        <label>Name</label>
        <p>@Model.Name</p>
    </div>

    <div class="form-group">
        <label>Short Name</label>
        <p>@Model.ShortName</p>
    </div>

    <div class="form-group">
        <label>Link Text</label>
        <p>@Model.LinkText</p>
    </div>

    <div class="form-group">
        <label>Action Name</label>
        <p>@Model.ActionName</p>
    </div>

    <div class="form-group">
        <label>Controller Name</label>
        <p>@Model.ControllerName</p>
    </div>

    <div>
        <input type="submit" value="Delete" />
    </div>
}
