@model IEnumerable<Fluxy.ViewModels.Menu.MainMenuViewModel>
<div class="container">
    <h2>Main Menu Items</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New Menu</button><br /><br />
    <table class="table table-hover">
        <thead class="thead-inverse ">
            <tr>
                <th scope="row">
                    ID
                </th>
                <th scope="row">
                    Name
                </th>
                <th scope="row">
                    Short Name
                </th>
                <th scope="row">
                    Link Text
                </th>
                <th scope="row">
                    Action Name
                </th>
                <th scope="row">
                    Controller Name
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LinkText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ControllerName)
                    </td>
                    <td>
                        <a href="#" onclick="return getbyID('menu/getbyID/'+'@item.Id')">Edit</a> |
                        <a href="#" onclick="Delele('menu/Delete/'+'@item.Id')">Delete</a>
                    </td>   
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="MenuAttributeId" placeholder="MenuAttributeId" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="ShortName" placeholder="Short Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="LinkText" placeholder="Link Text" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="ActionName" placeholder="Action Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="ControllerName" placeholder="Controller Name" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add('menu/Create');">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update('menu/Create');">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/Scripts/MenuScripts.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}