@model Fluxy.ViewModels.Home.HomeViewModel
@{
    ViewBag.Title= "Home | Share your youtube video and make it viral right now.";
    ViewBag.Description = "A free community for sharing youtube videos and content for all age group peoples. Its Home page of Fluxy Pictures.";
}

@Html.Partial("_MainSlide",Model.Banners)
<div class="container">
    <div class="alert alert-info wow flipInX" role="alert">
        <strong>Recent Videos</strong>
    </div>
    <div class="row">
        @if (Model.RecentVideos.Count == 0)
        {
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="text-center">Video list is empty, Stay tune for the bang.</p>
            </div>
        }
        @foreach (var item in Model.RecentVideos)
            {
            <div class="col-md-4">
                @Html.Partial("_VideoBox", item)
            </div>
        }
    </div>

    <div class="alert alert-info wow flipInX" role="alert">
        <strong>Popular Videos</strong>
    </div>
    <div class="row">
        @if (Model.PopularVideos.Count == 0)
        {
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="text-center">Video list is empty, Stay tune for the bang.</p>
            </div>
        }
        @foreach (var item in Model.PopularVideos)
            {
            <div class="col-md-4">
                @Html.Partial("_VideoBox", item)
            </div>
        }
    </div>

    <div class="alert alert-info wow flipInX" role="alert">
        <strong>General Videos</strong>
    </div>
    <div class="row">
        @if (Model.General.Count == 0)
        {
            <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p class="text-center">Video list is empty, Stay tune for the bang.</p>
                </div>
        }
        @foreach (var item in Model.General)
        {
            <div class="col-md-4">
                @Html.Partial("_VideoBox", item)
            </div>
        }
    </div>

    <div class="alert alert-info wow flipInX" role="alert">
        <strong>Infotainment Videos</strong>
    </div>
    <div class="row">
        @if (Model.Infotainment.Count == 0)
        {
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="text-center">Video list is empty, Stay tune for the bang.</p>
            </div>
        }
        @foreach (var item in Model.Infotainment)
            {
            <div class="col-md-4">
                @Html.Partial("_VideoBox", item)
            </div>
        }
    </div>

    <div class="alert alert-info wow flipInX" role="alert">
        <strong>Entertainment Videos</strong>
    </div>
    <div class="row">
        @if (Model.Entertainment.Count == 0)
        {
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="text-center">Video list is empty, Stay tune for the bang.</p>
            </div>
        }
        @foreach (var item in Model.Entertainment)
            {
            <div class="col-md-4">
                @Html.Partial("_VideoBox", item)
            </div>
        }
    </div>
</div>
