@model IEnumerable<Fluxy.ViewModels.Categories.CategoryViewModel>

<div class="container">
    <h2>Category</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal">Add New Category</button><br /><br />
    <table id="categoryTable" class="table table-hover">
        <thead class="thead-inverse ">
            <tr>
                <th scope="row">
                    Name
                </th>
                <th scope="row">
                    Description
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a href="#" onclick="return getbyID('category/getbyID/'+'@item.Id')">Edit</a> |
                        <a href="#" onclick="Delele('category/Delete/'+'@item.Id')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>

<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Description" placeholder="Description" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add('category/Create');">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update('category/Create');">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/Scripts/CategoryScripts.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}   