<footer id="FluxyFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-4 myCols">
                <h5>Get started</h5>
                <ul>
                    <li>@Html.ActionLink("Home","Index", "Home")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                </ul>
            </div>
            <div class="col-md-4 myCols">
                <h5>About us</h5>
                <ul>
                    <li>@Html.ActionLink("Company Information","About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us","Contact", "Home")</li>
                </ul>
            </div>
            <div class="col-md-4 myCols">
                <h5>Support</h5>
                <ul>
                    <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                    <li>@Html.ActionLink("Help desk", "HelpDesk", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-networks">
        <a href="@Fluxy.Core.Constants.Configurations.TwitterUrl" class="twitter"><i class="fa fa-twitter-square"></i></a>
        <a href="@Fluxy.Core.Constants.Configurations.FacebookUrl" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a>
        <a href="@Fluxy.Core.Constants.Configurations.YoutubeUrl" target="_blank" class="google"><i class="fa fa-youtube-square"></i></a>
    </div>
    <div class="footer-copyright">
        <p>COPYRIGHT @Fluxy.Core.Constants.Configurations.Version © @DateTime.UtcNow.Year ADITYA ENTERTAINMENT ALL RIGHTS RESERVED.</p>
    </div>
</footer>