@using Fluxy.Core.Constants
@using Boilerplate.Web.Mvc
@using Boilerplate.Web.Mvc.Twitter
@using Boilerplate.Web.Mvc.OpenGraph
<!DOCTYPE HTML>
<html lang="en">
@{
    ViewBag.Author = "Fluxy Pictures";
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("fluxy_pictures");
    var imgUrl =ViewBag.ImageUrl as string;
    if(string.IsNullOrEmpty(imgUrl))
    {
        imgUrl = $"~/Images/fp_logo-purple.png";
    }
    ViewBag.OpenGraph = new OpenGraphWebsite(
    ViewBag.Title,
      new OpenGraphImage(Url.AbsoluteContent(imgUrl)) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Auto,
        SiteName = Application.Name
    };
}
@Html.Partial("_MetaTags")
<body>
    <div id="fb-root"></div>
    <script src="~/Scripts/Custom/Layout.min.js"></script>
    @Html.Partial("_NavigationBar")
    @Html.Partial("_FloatingSocialBar")
    @Html.Partial("_Alerts")
    @RenderBody()
    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $('.admin-table').dataTable();
        $('.textarea-editor').summernote({
            height: 300, // set editor height  
            minHeight: null, // set minimum height of editor  
            maxHeight: null // set maximum height of editor  
        }); 
    </script>
</body>
</html>
