@model List<Fluxy.ViewModels.Banners.BannerDetailsViewModel>

@{
    var bannerClasses = new string[] { "first-slide", "second-slide", "third-slide", "fourth-slide", "fifth-slide" };
    var bannerButtonClasses = new string[] { "text-left", "text-right", "text-left", "", "text-right" };
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        @for (var i = 0; i < Model.Count; i++)
        {
            if (i == 0)
            {
                <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
            }
            else
            {
                <li data-target="#myCarousel" data-slide-to="@i"></li>
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">

        @for (var i = 0; i < Model.Count; i++)
        {
            if (i == 0)
            {
                <div class="carousel-item active">
                    <img class="@bannerClasses[i]" src="data:image/gif;base64,@Model[i].ImageString" alt="@bannerClasses[i]">
                    <div class="container">
                        <div class="carousel-caption d-none d-md-block @bannerButtonClasses[i]">
                            <h1>@Model[i].Headline</h1>
                            <p>
                                @Model[i].Slogans
                            </p>
                            <p><a class="btn btn-lg btn-primary" href="@Model[i].ButtonUrl" role="button">@Model[i].ButtonText</a></p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <img class="@bannerClasses[i]" src="data:image/gif;base64,@Model[i].ImageString" alt="@bannerClasses[i]">
                    <div class="container">
                        <div class="carousel-caption d-none d-md-block @bannerButtonClasses[i]">
                            <h1>@Model[i].Headline</h1>
                            <p>
                                @Model[i].Slogans
                            </p>
                            <p><a class="btn btn-lg btn-primary" href="@Model[i].ButtonUrl" role="button">@Model[i].ButtonText</a></p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>