@using Fluxy.Core.Constants
@using Fluxy.Core.Constants.HomeController
@using Boilerplate.Web.Mvc
@using Boilerplate.Web.Mvc.Twitter
@using Boilerplate.Web.Mvc.OpenGraph

<head @(ViewBag.OpenGraph == null ? null : Html.OpenGraphNamespace((OpenGraphMetadata)ViewBag.OpenGraph))>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106962312-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) };
        gtag('js', new Date());

        gtag('config', 'UA-106962312-1');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9345808521212177",
            enable_page_level_ads: true
        });
    </script>
    <meta name="p:domain_verify" content="dc3a176a1a4846838e98dd44c1ec314d" />
    <meta name="msvalidate.01" content="4DB545DC6A5F1D881F3DC2C25E1EEE05" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - @Application.Name</title>
    <link rel="canonical" href="http://www.fluxypictures.com" />
    <meta name="title" content="FluxyPictures - Videos" />
    <meta name="keywords" content="music videos,videos,educational videos,entertainment videos,infotainment videos,health videos,travel videos,people videos,sports and politics videos">
    <meta property="bt:keywords" content="music videos,videos,educational videos,entertainment videos,infotainment videos,health videos,travel videos,people videos,sports and politics videos">
    @*<meta name="description" content="A free community for sharing youtube videos and content for all aged peoples. We are an entertainment focused" />*@
    <meta name="description" content="@ViewBag.Description">

    @if (ViewBag.Author != null)
    {
        <meta name="author" content="@ViewBag.Author">
    }
    @* Render Twitter Card meta tags. *@
    @if (ViewBag.TwitterCard != null)
    {
        @Html.TwitterCard((TwitterCard)ViewBag.TwitterCard);
    }
    @* Render Facebook Open Graph meta tags. *@
    @if (ViewBag.OpenGraph != null)
    {
        @Html.OpenGraph((OpenGraphMetadata)ViewBag.OpenGraph);
    }
    @if (ViewBag.ReferrerMode != null)
    {
        @Html.ReferrerMeta((ReferrerMode)ViewBag.ReferrerMode)
    }
    <meta http-equiv="Content-Language" content="en-US">
    <meta name="rating" content="kids,adults,all age group peoples">
    <meta name="distribution" content="global" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="manifest" href="@Url.RouteUrl(HomeControllerRoute.GetManifestJson).TrimEnd('/')">
    <link href="@Url.RouteUrl(HomeControllerRoute.GetFeed)" rel="alternate" title="@Application.Name Feed" type="application/atom+xml">
    <link href="@Url.RouteUrl(HomeControllerRoute.GetOpenSearchXml).TrimEnd('/')" rel="search" title="Fluxy Pictures Search" type="application/opensearchdescription+xml">
    <link href="@Url.RouteUrl(HomeControllerRoute.GetSitemapXml).TrimEnd('/')" rel="search" title="Fluxy Pictures Sitemap" type="application/opensearchdescription+xml">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/vendorcss")
    @Styles.Render("~/Content/fa")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/wow")
        @*<script>
            var wow = new WOW(
                {
                    boxClass: 'wow',      // default
                    animateClass: 'animated', // default
                    offset: 0,          // default
                    mobile: false,       // default
                    live: true        // default
                }
            ).init();
        </script>*@
</head>