<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img style="max-width:70px; min-width:70px;" src="~/Images/fp_logo_white.png" />
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new
           {
               @class = "nav-link"
           })
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="GeneralMenu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">General</a>
                <div class="dropdown-menu" aria-labelledby="GeneralMenu">
                    <a class="dropdown-item" href="@Url.Action("AutoVehicles", "VideoCategories")"><i class="fa fa-cogs" aria-hidden="true"></i> Autos and Vehicles</a>
                    <a class="dropdown-item" href="@Url.Action("TravelEvents", "VideoCategories")"><i class="fa fa-suitcase" aria-hidden="true"></i> Travel & Events</a>
                    <a class="dropdown-item" href="@Url.Action("PeopleBlogs", "VideoCategories")"><i class="fa fa-users" aria-hidden="true"></i> People & Blogs</a>
                    <a class="dropdown-item" href="@Url.Action("PetsAnimals", "VideoCategories")"><i class="fa fa-paw" aria-hidden="true"></i> Pets & Animals</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="InfotainmentMenu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Infotainment</a>
                <div class="dropdown-menu" aria-labelledby="InfotainmentMenu">
                    <a class="dropdown-item" href="@Url.Action("ScienceTechnology", "VideoCategories")"><i class="fa fa-flask" aria-hidden="true"></i> Science & Technology</a>
                    <a class="dropdown-item" href="@Url.Action("NewsPolitics", "VideoCategories")"><i class="fa fa-newspaper-o" aria-hidden="true"></i> News & Politics</a>
                    <a class="dropdown-item" href="@Url.Action("Health", "VideoCategories")"><i class="fa fa-medkit" aria-hidden="true"></i> Health</a>
                    <a class="dropdown-item" href="@Url.Action("Devotional", "VideoCategories")"><i class="fa fa-heart" aria-hidden="true"></i> Devotional</a>
                    <a class="dropdown-item" href="@Url.Action("Documentary", "VideoCategories")"><i class="fa fa-file-video-o" aria-hidden="true"></i> Documentary</a>
                    <a class="dropdown-item" href="@Url.Action("Education", "VideoCategories")"><i class="fa fa-book" aria-hidden="true"></i> Education</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="EntertainmentMenu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Entertainment</a>
                <div class="dropdown-menu" aria-labelledby="EntertainmentMenu">
                    <a class="dropdown-item" href="@Url.Action("Music", "VideoCategories")"><i class="fa fa-music" aria-hidden="true"></i> Music</a>
                    <a class="dropdown-item" href="@Url.Action("Gaming", "VideoCategories")"><i class="fa fa-gamepad" aria-hidden="true"></i> Gaming</a>
                    <a class="dropdown-item" href="@Url.Action("Sports", "VideoCategories")"><i class="fa fa-cubes" aria-hidden="true"></i> Sports</a>
                    <a class="dropdown-item" href="@Url.Action("FilmAnimation", "VideoCategories")"><i class="fa fa-film" aria-hidden="true"></i> Film & Animation</a>
                    <a class="dropdown-item" href="@Url.Action("Entertainment", "VideoCategories")"><i class="fa fa-play-circle" aria-hidden="true"></i> Entertainment</a>
                </div>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")

        <div class="form-inline mt-2 mt-md-0">
            <div class="form-group mx-sm-3">
                <a class="btn btn-outline-warning btn-bd-yellow" href="@Url.Action("SiteSearch", "Home")"><i class="fa fa-search"></i> Search</a>
            </div>
        </div>
    </div>
</nav>
